
@font-face {
    font-family: 'Press Start';
    src: url('prstart.ttf');
}

.label {
    -fx-font-family: 'Press Start';
    -fx-font-size: 50;
}

.button .text {
    -fx-font-family: 'Press Start';
}
